<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Order Donut - р╕лр╕Щр╣Йр╕▓р╣Бр╕гр╕Б</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="container">
        <img src="/images/logo.png" alt="Logo" />
        <h1>Welcome to Your Sweet Moment!</h1>
        <p>р╣Вр╕Фр╕Щр╕▒р╕Чр╕Чр╕│р╕бр╕╖р╕н р╕лр╕зр╕▓р╕Щр╕Щр╕╕р╣Ир╕бр╕ер╕░р╕бр╕╕р╕Щр╕лр╕▒р╕зр╣Гр╕И ЁЯНй</p>
        <a href="/step1"><button>р╣Ар╕гр╕┤р╣Ир╕бр╕кр╕▒р╣Ир╕Зр╣Вр╕Фр╕Щр╕▒р╕Ч</button></a>
    </div>
</body>

</html>